{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Change Email Address|2077{% endblock %}

{% block pageheader %}
<div class="blog-header">
    <div class="blog-title"><h1 class="blog-title">更改郵箱</h1></div>
    <div class="lead blog-description login-description"><p class="lead blog-description login-description">「人間歲月堂堂去 勸君快上青雲路」</p></div>
</div>
{% endblock %}

{% block page_content %}
<div class="page-content">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
