{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Register|2077{% endblock %}

{% block pageheader %}
<div class="blog-header">
    <h1 class="blog-title">注册</h1>
    <p>________________________________</p>
    <p class="lead blog-description">人间岁月堂堂去，劝君快上青云路</p>
</div>
{% endblock %}

{% block page_content %}
<div class="page-content">
    {{ wtf.quick_form(form) }}
<div>
    <br>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Click here to login</a>.</p>
</div>
</div>
{% endblock %}
