server {
    listen 80;
    server_name loocat.cc;

    location / {
        proxy_pass http://0.0.0.0:2001;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
