/*
 * Globals
 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}
a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #2578b5;
}
a:hover {
    text-decoration: none;
    color: #d54b44;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

p {
    color: #333;
}

div.bottom-line {
    width: 50%;
    height: 1%;
    margin: 0 0 5px 0;
    border-bottom:solid 2px #ccc;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav-silver-top
 */
nav.navbar {
    position:absolute;
    z-index:2;
    width:100%;
}
/* Nav-fixed-blue */
.blog-masthead {
    position:fixed;
    width:100%;
    top:0;
    z-index:1;
    background-color: #2578b5; rgb(39,104,147);
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.navbar-toggle-blue {
    position:relative;
    float:right;
    padding:7px 8px;
    margin-top:10px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:#cdddeb;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
}
.navbar-toggle-blue:focus {
    outline:0;
    background-color: rgb(238,238,238);
}
.navbar-toggle-blue .icon-bar-blue {
    display:block;
    background-color: #333;
    width:22px;
    height:2px;
    border-radius:1px;
}
.navbar-toggle-blue .icon-bar-blue + .icon-bar-blue {
    margin-top:4px
}
@media (min-width:768px) {
    .navbar-toggle-blue {
        display:none
    }
}

/* Nav-links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*Blog-content-container*/
body > div.container {
    margin-top: 4%;
}

/*Blog-row except sidebar*/
ul.posts {
    list-style: none;
    padding: 0;
}

/* blogs */
.blog-container {
    width: auto;
    margin: 0 30px 0 30px;
    text-align: center;
}
.blog-container > .blogheader {
    width: 60%;
    margin: auto;
}
.post-blog > ul > li {
    padding: 20px 40px 20px 40px;
    background-color: #f8f8f8;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0 0 30px 0;
}
/*
 * Blog name and description
 */

.blog-header {
  padding-top: 0px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Blog posts
 */

.blog-post {
    background-color: #fff;
    margin-bottom: 60px;
}
.blog-post-title {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-title > p {
    color: #2578b5;
}
.blog-post-title > p:hover {
    color: #bb1c33;
}
.blog-post-meta {
    margin-bottom: 40px;
    color: #999;
    font-size: 20px;
}
/* blog-body */
.blog-post-body {
    margin-bottom: 40px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
}
.blog-post-body > p {
    color: #5f6d80;
}
/* blog footer*/
.blog-post-footer {
    margin-bottom: 30px;
    text-align: right;
}
.blog-post-footer > a > span {
    color: #999;
}
.blog-post-footer > a > span:hover {
    color: #324;
}
.label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
    background-color: transparent;
    border-radius: 0;
    border-left: 3px solid #ddd;
}

.label-default:hover {
    background-color: #f5f5f5;
    border-left: 3px solid #777;
}
.label-primary:hover {
    background-color: #d5e5f5;
    border-left: 3px solid #428bca;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* blogs-page */



/*Writer*/
div.writer {
    background-color: #fff;
    padding: 0 0 80px 0;
    width: 100%;
    height: 680px;
}
div.writer-title　{
    text-align: center;
}
h1.writer-title{
    width: 120px;
    margin: 20px auto 0 auto;
}
.writer-title > p {
    width: 280px;
    margin: 0 auto 0 auto;
}
.form {
    height: 100%;
}
#submit {
    margin: 0 0 4%;
}

/* Pagination */
.pager {
  margin-bottom: 80px;
  text-align: left;
}
.pager > li > a {
  width: 70px;
  height: 40px;
  padding: 7px 20px;
  text-align: center;
  border-radius: 20px;
}



/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
