/*
 * Globals
 */

body {
    font-family: Georgia, "Times New Roman", Times, SimSun, serif;
    color: #333;
    background: #f1f1f1;
}
a {
    font-family: Georgia, "Times New Roman", Times, SimSun, serif;
    font-weight: normal;
    color: #2578b5;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
a:hover {
    color: #d54b44;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
  margin-bottom: 0;
}

p {
    color: #333;
}

div.bottom-line {
    width: 50%;
    height: 1%;
    border-bottom:solid 2px #eee;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .blog-container {
    width: 970px;
  }
}


/*
 * Masthead for nav-silver-top
 */
nav.navbar {
    position:fixed;
    background-color: #fff;
    z-index:2;
    width:100%;
    box-shadow: 0 2px 5px rgba(0,37,55,.08);
}


/* blogs.html里的blog-header样式 */
.blogs-header {
    text-align: center;
}
.blogs-header > .blog-title {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}
.blogs-header > .blog-description {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}
/* blogs.html里的博客样式 */
.blog-container {
    width: auto;
    margin: 0 30px 0 30px;
    text-align: center;
}
.blog-container > .blogheader {
    width: 60%;
    margin: auto;
}
.post-blog > .posts {
    padding: 0;
}
.post-blog > ul > li {
    padding: 30px 40px 30px 40px;
    background-color: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0 0 30px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,37,55,.05);
}
.post-blog > ul > li > div > div {
    margin-left: auto;
    margin-right: auto;
    width: 78%;
}
.post-blog > ul > li > div >.blog-post-title {
    margin-top: 40px;
    margin-bottom: 5px;
}
.post-blog > ul > li > div >.post-thumbnail {
    margin-top: 30px;
    margin-bottom: 40px;
}
.post-blog > ul > li > div > div > .blog-post-body {
    font-size: 24px;
    width: 85%;
    margin-bottom: 70px;
}
.post-blog > ul > li > div > div > .blog-post-footer {
    margin-bottom: 70px;
}


/*Blog-content-container*/
body > div.container {
    margin-top: 2%;
}


/*
 * Blog name and description
 */

.blog-header {
    margin: 0px -15px 20px -15px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}
div.blog-title {
    width: 100%;
    margin-top: 0px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fefefe;
    box-shadow: 0 2px 3px rgba(0,37,55,.05);
    border-width: 4px;
    border-color: #d54b44;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
}
h1.blog-title, h3.blog-title , h4.blog-title {
    font-size: 60px;
    font-weight: normal;
}
p.blog-description {
    background-color: #fff;
    font-size: 20px;
    color: #999;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0 2px 3px rgba(0,37,55,.05);
    border-width: 4px;
    border-color: #ed652b;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
}
p.blogs-description {
    border-color: #2578b5;
}
p.write-description {
    border-color: #90caaf;#008e59;
}
p.login-description {
    border-color: #3e3c3d;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  width: 73%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,37,55,.05);
}
.blog-sidebar {
    width: 25%;
    margin-left: 2%;
}
/*Blog-row except sidebar*/
ul.posts {
    list-style: none;
    padding: 30px;
    border-width: 4px;
}
/*
 * Blog posts
 */

li.blog-post {
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}
.post-thumbnail{
    margin: 0px auto 20px auto;
}

.tags {
    display: inline-block;
    margin-left: 10px;
}
.blog-post-title {
    font-size: 40px;
}
.blog-post-title > p {
    color: #2578b5;
}
.blog-post-title > p:hover {
    color: #bb1c33;
}
.blog-post-meta {
    color: #999;
    font-size: 20px;
    display: inline-block;
}
/* blog-body */
.blog-post-body {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
}
.blog-post-body > p {
    line-height: 1.5;
    color: #5f6d80;
}
/* blog footer*/
.blog-post-footer {
    margin-bottom: 40px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
.blog-post-footer > a > span {
    color: #999;
}
.blog-post-footer > a > span:hover {
    color: #324;
}
.label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
    background-color: transparent;
    border-radius: 0;
    border-left: 3px solid #ddd;
}

.label-default:hover {
    background-color: #f5f5f5;
    border-left: 3px solid #777;
}
.label-primary:hover {
    background-color: #d5e5f5;
    border-left: 3px solid #428bca;
}


/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
}
.sidebar-module > .bottom-line > h4 {
    margin-bottom: 4px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}
ol.list-unstyled {
    margin-top: 9px;
}
ol.other {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
ol.list-unstyled > li {
    margin-right: 10px;
    margin-top: 4px;
}
ol.other > li {
    display: inline-block;
    margin-right: 10px;
}

/* iconfont color hover*/
.iconfont {
    color: #888;
    font-size: 20px;
}
ol.other > li > a:hover {
    color: #213f4d;
}
.iconfont:hover {
    color: #444;
}
.icon-twitter:hover {
    color: #1da1f2;
}
.icon-github1:hover {
    color: #213f4d;
}
.icon-facebook:hover {
    color: #3b5998;
}
.icon-zhihu:hover {
    color: #0664c3;
}
/* blogs-page */



/*Writer*/
div.writer {
    background-color: #fff;
    padding: 30px 20px 50px 20px;
    margin: 0 -15px 30px -15px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,37,55,.05);
}
.form {
    height: 100%;
}
#submit {
    margin: 0 0 4%;
}

/* Pagination */
.pager {
  margin-bottom: 80px;
  text-align: center;
}
.pager > li > a {
  width: 70px;
  height: 40px;
  padding: auto;
  text-align: center;
  border-radius: 20px;
}
.pager > li > li > a:hover,
.pager > li > li > a:focus,
.pager > li > li > .active {
  width: 60px;
  height: 30px;
  padding: auto;
  text-align: center;
  border-radius: 10px;
  background-color: #ace;
}



/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
