/*
 * Globals
 */
/*Blog-content-container*/
html {
    height: 100%;
}
body {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding-bottom: 80px;
    font-family: Georgia, "Times New Roman", Times, SimSun, serif;
    color: #333;
    background: #f2f4f1;
    min-width: 350px;
}
body > div.container {
    min-height: 93%;
    height: auto;
    height: 100%;
    margin-bottom: 5%;
}

a {
    font-family: Georgia, "Times New Roman", Times, SimSun, serif;
    font-weight: normal;
    color: #2578b5;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
a:hover {
    color: #d54b44;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
  margin-bottom: 0;
}

p {
    color: #333;
}

.flask-moment {
  display: block;
}

div.bottom-line {
    width: 50%;
    height: 1%;
    border-bottom:solid 2px #eee;
}

/* Alert-Warning */
.alert,
.alert-warning {
  width: 80%;
  margin: 0 10% 0 10%;
  top: 10px;
  z-index: 5;
  position: absolute;
}



/*
 * Override Bootstrap's default container.
 */
@media screen and (min-width: 1100px) {
  .container{width: 970px}
}
@media screen and (max-width: 1100px) {
  .container {width: 100%}
}
/* 设置了浏览器宽度不大于900px时 abc 显示auto宽度 */

@media screen and (max-width: 500px) {
  .container {width: 100%}
}


/*
 * Masthead for site-header
 */
div.site-header {
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
}
.site-header > h1 {
    color: #332;
    font-style: font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: normal;
    width: auto;
    padding: 5px 0 5px 0;
}
.site-header > p {
    background-color: ;
    font-size: 20px;
    height: 24px;
    color: #888;
    margin: 4px 4% 0 4%;
    border-bottom: 1px solid #aaa;
}
/*
 * Masthead for nav-silver-top
 */
nav.navbar {
    z-index: 3;
    background-color: #fff;
    width:100%;
    box-shadow: 0 2px 5px rgba(0,37,55,.08);
    margin-bottom: 0;
}
#navbar-fixed {
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,37,55,.08);
    border-bottom: 1px solid #eee;
}

/*
 * Masthead for nav fixed
 */

.navbar-fixed {
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 5px rgba(0,37,55,.08);
}


/*
 * Back to top Button
 */
#to_top {
  width: 30px;
  height: 30px;
  position: fixed;
  left: 30px;
  bottom: 18px;
  background-color: #428bca;
}

/*
 * Blog name and description
 */

.blog-header {
    padding-top: 0;
    padding-bottom: 0;
}
div.blog-title {
    margin: 0px -15px 0px -15px;
    padding-top: 30px;
    text-align: center;
    background-color: #fefefe;
    box-shadow: 0 2px 5px rgba(0,37,55,.08);
    border-width: 4px;
    border-color: #d54b44;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
}
h1.blog-title, h3.blog-title , h4.blog-title {
    font-size: 60px;
    font-weight: normal;
}
p.blog-description {
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    color: #999;
    margin: 0px -15px 20px -15px;
    padding: 0 5px 0 5px;
    box-shadow: 0 2px 3px rgba(0,37,55,.05);
    border-width: 4px;
    border-color: #ed652b;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
}
p.blogs-description {
    border-color: #2578b5;
}
p.write-description {
    border-color: #90caaf;#008e59;
}
p.login-description {
    border-color: #3e3c3d;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  width: 73%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,37,55,.08);
}
.blog-sidebar {
    width: 25%;
    margin-left: 2%;
}
/*Blog-row except sidebar*/
ul.posts {
    list-style: none;
    padding: 30px;
    border-width: 4px;
}


/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0,37,55,.08);
}
.sidebar-module > .bottom-line > h4 {
    margin-bottom: 4px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,37,55,.08);
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}
ol.list-unstyled {
    margin-top: 9px;
}
ol.other {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
ol.list-unstyled > li {
    margin-right: 10px;
    margin-top: 4px;
}
ol.other > li {
    display: inline-block;
    margin-right: 10px;
}







/*
 * Blog posts
 */

li.blog-post {
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}
.post-thumbnail{
    margin: 0px auto 20px auto;
}

.tags {
    display: inline-block;
    margin-left: 10px;
}
.blog-post-title {
    font-size: 40px;
}
.blog-post-title > p {
    color: #2578b5;
}
.blog-post-title > p:hover {
    color: #bb1c33;
}
.blog-post-meta {
    color: #999;
    font-size: 20px;
    display: inline-block;
}
/* blog-body */
.blog-post-body {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: #5f6d80;
}
/* various formats setting */
.blog-post-body > p {
    line-height: 1.5;
    color: #5f6d80;
}
.blog-post-body > blockquote > p > code{
    max-width: 80%;
}
.blog-post-body > blockquote > p {
    line-height: 1.5;
    color: #5f6d80;
    font-size: 18px;
    font-weight: 300;
}
.blog-post-body > p > img {
    margin: 0 auto 0;
    max-width: 90%;
    display: block;
}

/* blog footer*/
.blog-post-footer {
    margin-bottom: 40px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
.blog-post-footer > a > span {
    color: #999;
}
.blog-post-footer > a > span:hover {
    color: #324;
}
.label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
    background-color: transparent;
    border-radius: 0;
    border-left: 3px solid #ddd;
}

.label-default:hover {
    background-color: #f5f5f5;
    border-left: 3px solid #777;
}
.label-primary:hover {
    background-color: #d5e5f5;
    border-left: 3px solid #428bca;
}


/* blogs.html里的博客样式 */
div.blog-container {
    width: auto;
    margin: 15px 30px 5% 30px;
    text-align: center;
    min-height: 93%;
    height: auto;
    height: 100%;
}
.blogs-header {
    text-align: center;
    width: 970px;
    margin: auto;
}
.post-blog > .posts {
    padding: 0;
}
.post-blog > ul > li {
    padding: 30px 40px 30px 40px;
    background-color: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0 0 15px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,37,55,.08);
}
.post-blog > ul > li > div > div {
    margin-left: auto;
    margin-right: auto;
    width: 78%;
}
.post-blog > ul > li > div >.blog-post-title {
    margin-top: 40px;
    margin-bottom: 5px;
}
.post-blog > ul > li > div >.post-thumbnail {
    margin-top: 30px;
    margin-bottom: 40px;
}
.post-blog > ul > li > div > div > .blog-post-body {
    font-size: 24px;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 70px;
}
.post-blog > ul > li > div > div > .blog-post-footer {
    margin-bottom: 70px;
}



/* iconfont color hover*/
.iconfont {
    color: #888;
    font-size: 20px;
}
ol.other > li > a:hover {
    color: #213f4d;
}
.iconfont:hover {
    color: #444;
}
.icon-github1 {
    margin-left: 12px;
}
.icon-twitter:hover {
    color: #1da1f2;
}
.icon-github1:hover {
    color: #213f4d;
}
.icon-facebook:hover {
    color: #3b5998;
}
.icon-zhihu:hover {
    color: #0664c3;
}
/* blogs-page */



/*Writer*/
div.writer {
    background-color: #fff;
    padding: 30px 20px 50px 20px;
    margin: 0 -15px 30px -15px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,37,55,.08);
    z-index: 4;
}
.form {
    height: 100%;
}
div.CodeMirror,
.cm-s-paper,
.CodeMirroe-wrap {
  z-index: 1;
}
#submit {
    margin: 0 0 4%;
}

/* Pagination */
.pager {
  margin-bottom: 80px;
  text-align: center;
}
.pager > li > a {
  width: 70px;
  height: 40px;
  padding: auto;
  text-align: center;
  border-radius: 20px;
}
.pager > li > li > a:hover,
.pager > li > li > a:focus,
.pager > li > li > .active {
  width: 60px;
  height: 30px;
  padding: auto;
  text-align: center;
  border-radius: 10px;
  background-color: #ace;
}



/*
 * Footer
 */

.blog-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  background: #c6f;
  width: 100%;
  padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: #fff;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1100px) {
  .blog-sidebar{
    width: 242.5px;
  }
}

@media (max-width: 768px) {
  .col-sm-8,
  .blog-main {
    width: 100%;
    margin: auto;
  }
}


@media (max-width: 1110px) {
  .blogs-header {
    width: 100%;
    margin: 0;
  }
  .blog-post-title {font-size: 36px}
  .blog-post-meta {font-size: 18px}
  .blog-post-body {font-size: 18px}
  .blog-post-body > blockquote > p {font-size: 16px}
}

@media (max-width: 768px) {
  .blog-sidebar {
      display: none;
  }
  .blog-post-title {font-size: 30px}
  .blog-post-meta {font-size: 16px}
  .blog-post-body {font-size: 16px}
  .blog-post-footer {font-size: 14px}
  .blog-post-body > blockquote > p {font-size: 14px}
  div.blog-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
