<ul class="posts">
    {% for post in posts %}
    <li class="blog-post">
      <div class="blog-post">
        <div class="blog-post-title">
            <a class="blog-post-title" href="{{ url_for('.post', id=post.id) }}">
            {% if post.title_html %}
                {{ post.title_html | safe }}
            {% else %}
                {{ post.title }}
            {% endif %}
            </a>
        </div>
        <div class="post-thumbnail">
            <p class="blog-post-meta">Posted on <a href="{{ url_for('.user', username=post.author.username) }}">{{ moment(post.timestamp).format('LL') }}</a>
                <div class="tags dropdown">
                    <a class="tags" id=dLabel data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="iconfont icon-discount"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Tags</li>
                        {% for tag in tags %}
                            {% if post.is_tagged_by(tag) %}
                            <li><a href="{{ url_for('main.write') }}">{{tag.name}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </p>
        </div>
        <div class="blog-post-content">
            <div class="blog-post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="blog-post-footer">
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">Permalink</span>
                </a>
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span class="label label-primary"> {{ post.comments.count() }} Comments</span>
                </a>
            </div>
        </div>
      </div>
    </li>
    {% endfor %}
</ul>
