{% import "_macros.html" as macros %}

{% block doc -%}
<!DOCTYPE html>
<!-- changed from url=(0036)http://v3.bootcss.com/examples/blog/ -->
<html lang="en">
{%- block html %}
    <head {% block html_attribs %}{% endblock html_attribs %}>
    {%- block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        {%- block metas %}
        {%- endblock metas %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon2.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon2.ico') }}" type="image/x-icon">

        <title>{% block title %} Welcome to 2077 {% endblock title %}</title>

    <!-- Bootstrap core CSS -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- ali iconfont -->
        <link rel="stylesheet" href="http://at.alicdn.com/t/font_8eg7pdoydd6ajor.css">

    <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">

    <!-- Custom styles for my code-prettify -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='prettify.css')}}">

        {%- block styles %}
        {%- endblock styles %}
    </head>
    {%- endblock head %}

    <body {% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}

        <!-- Fixed blue navbar -->
        <nav class="navbar-default blog-masthead" role="navigation">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-nav" aria-expanded="false" aria-controls="blog-masthead">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar-blue"></span>
                    <span class="icon-bar-blue"></span>
                  </button>
                </div>
                <div id="blog-nav" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <a class="blog-nav-item" >Smile</a>
                    <a class="blog-nav-item active" href="{{ url_for('main.index') }}">主頁</a>
                    <a class="blog-nav-item" href="{{ url_for('main.blogs') }}">文章</a>
                    <a class="blog-nav-item" href="{{ url_for('main.write') }}">書寫</a>
                  </ul>
                </div>
            </div>
       </nav>

      <!-- Absolute silver navbar -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Smile</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% block navbar -%}
              <li class="active"><a href="{{ url_for('main.index') }}">主頁</a></li>
              <li><a href="{{ url_for('main.blogs') }}">文章</a></li>
              {%- endblock navbar %}
              {% block navbarwriter -%}
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      書寫<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li class="dropdown-header">編輯方式</li>
                      <li><a href="{{ url_for('main.write') }}">MarkDown(推薦)</a></li>
                      <li><a href="{{ url_for('main.write0') }}">CDEditor(開發中)</a></li>

                  </ul>
              </li>
              {%- endblock navbarwriter %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {{ current_user.username }}<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                      {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                      <li><a href="{{ url_for('admin.index') }}">后台管理</a></li>
                      {% endif %}
                      <li class="divider"></li>
                      <li class="dropdown-header">用戶信息</li>
                      <li><a href="{{ url_for('auth.change_password') }}">更改密碼</a></li>
                      <li><a href="{{ url_for('auth.change_email_request') }}">更改郵箱地址</a></li>
                      <li><a href="{{ url_for('main.user', username=current_user.username) }}">用戶信息更改</a></li>
                  </ul>
              </li>
              {% else %}
              <li><a href="{{ url_for('auth.login') }}">登錄</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

    <!--messages in container-->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block pagecotent -%}
    <div id="content" class="container">
        <!--blog header-->
        {% block pageheader -%}
        <div class="blog-header">
            <div class="blog-title"><h4 class="blog-title">博客</h4></div>
            <div class="lead blog-description"><p class="lead blog-description">「人間歲月堂堂去 勸君快上青雲路」</p></div>
        </div>
        {%- endblock pageheader %}
        <!--blog row for blogs-->
        {% block content -%}
        <div class="row">
          <div class="col-sm-8 blog-main">
            <div class="page-content">
              <!--Blogs-->
              {% block page_content %}
              <div class="blog-posts">
                {% include '_index_posts.html' %}
              </div>
              <!--Pager-->
              {% if pagination %}
              <nav class="pager">
                  {{ macros.pagination_widget(pagination, '.blogs') }}
              </nav>
              {% endif %}
              {% endblock %}
            </div>
          </div><!-- /.blog-main -->

        <!-- .blog-sidebar/begin -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Mozart</h4>
            <p class="about"> <em>Es ist ein Irrtum zu glauben</em> , dass die Praxis von meiner Kunst zu mir
                leicht geworden ist. Ich versichere Ihnen , lieber Freund , niemand hat so viel Sorgfalt auf
                das Studium der Komposition als ich. </p>
          </div>
          <div class="sidebar-module">
            <div class="bottom-line"><h4>標籤      </h4>
            </div>
            <ol class="list-unstyled">
                {% for t in tags %}
                <li><a href=" url_for('')">{{ t.name }}</a></li>
                {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <div class="bottom-line"><h4>別處      </h4>
            </div>
            <ol class="list-unstyled other">
              <li><a href="http://twitter.com/" target="_blank"><i class="iconfont icon-twitter"></i>  Twitter</a></li>
              <li><a href="http://github.com/chidaobanjiu" target="_blank"><i class="iconfont icon-github1"></i>  GitHub</a></li>
              <li><a href="http://facebook.com/" target="_blank"><i class="iconfont icon-facebook"></i>  Facebook</a></li>
              <li><a href="https://www.zhihu.com/people/jiang-bing-jie/" target="_blank"><i class="iconfont icon-zhihu"></i>  知乎</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
      {%- endblock content %}
      <div><button id="to_top" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Back to top">
              <i class="iconfont icon-fanhuidingbu01"></i>
          </button>
      </div>
    </div><!-- /.container -->
    {%- endblock pagecotent %}


    <div class="blog-footer">
      <p>Powered by <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="http://flask.pocoo.org/">Flask</a>.</p>
      <p>
        <a href="{{url_for('main.blogs')}}">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script rel="stylesheet" type="text/js" href="{{ url_for('static', filename='docs.min.js.下载') }}"></script>
    <!-- The google code-prettidy css and js -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <script type="text/javascript">
    //绑定页面滚动事件
    $(document).bind('scroll',function(){
        var len=$(this).scrollTop()
        if(len>=100){
            //显示回到顶部按钮
            $('#to_top').show('fast');
        }else{
            //影藏回到顶部按钮
            $('#to_top').hide();
        }
    })
    //绑定回到顶部按钮的点击事件
    $('#to_top').click(function(){
        //动画效果，平滑滚动回到顶部
        $('body').animate({ scrollTop: 0 });
    })
    //給所以<pre> 加上'class='prettyprint'
    $(document).ready(function(){
        $('pre').addClass("prettyprint");
        PR.prettyPrint();
    });
    </script>
    {% block scripts %}
    {{ moment.include_moment() }}
    {%- endblock scripts %}

    <div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" title="" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" data-original-title="Copy to clipboard">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">
            <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1483345743229">
            <param name="allowScriptAccess" value="sameDomain">
            <param name="scale" value="exactfit">
            <param name="loop" value="false">
            <param name="menu" value="false">
            <param name="quality" value="best">
            <param name="bgcolor" value="#ffffff">
            <param name="wmode" value="transparent">
            <param name="flashvars" value="trustedOrigins=v3.bootcss.com%2C%2F%2Fv3.bootcss.com%2Chttp%3A%2F%2Fv3.bootcss.com">
            <embed src="/assets/flash/ZeroClipboard.swf?noCache=1483345743229" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="trustedOrigins=v3.bootcss.com%2C%2F%2Fv3.bootcss.com%2Chttp%3A%2F%2Fv3.bootcss.com" scale="exactfit">
        </object>
    </div>
    {%- endblock body %}
    {% block simplemde -%}
    {%- endblock simplemde %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}
