{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Blogs|-2077-{% endblock %}

{% block navbar %}
<li><a href="{{ url_for('main.index') }}">主頁</a></li>
<li class="active"><a href="{{ url_for('main.blogs') }}">文章</a></li>
{% endblock %}

{% block pagecotent %}
<div id="content" class="blog-container">
    <!--blog header-->
    <div class="blog-header blogs-header">
        <div class="blog-title"><h3 class="blog-title">文章</h3></div>
        <div class="lead blog-description blogs-description"><p class="lead blog-description blogs-description">「衆鳥高飛盡 孤云獨去閑」</p></div>
    </div>
    <!--blog row for blogs-->
    <div class="row">
        <div class="page-content">
          <!--Blogs-->
          <div class="blog-posts post-blog">
            {% include '_posts.html' %}
          </div>
          <!--Pager-->
          {% if pagination %}
          <nav class="pager">
              {{ macros.pagination_widget(pagination, '.blogs') }}
          </nav>
          {% endif %}
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
