{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Manasseh in -2077-{% endblock %}

{% block navbar_list %}
<li class="active"><a href="{{ url_for('main.blogs') }}">Blogs</a></li>
<li><a href="{{ url_for('main.index') }}">Writing</a></li>
<li><a href="https://github.com/chidaobanjiu" target="_blank">Github</a></li>
{% endblock %}

{% block page_content %}
<div class="post-tabs">
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.blogs') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
