{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Post|2077{% endblock %}

{% block styles %}{{ simplemde.css }}{% endblock %}

{% block pageheader %}
<div class="blog-title">
    <h1>编辑<a>《{{ form.title.data }}》</a></h1>
    <div class="lead blog-description write-description"><p class="lead blog-description write-description">「欲將心事付瑤琴 知音少 弦斷有誰聽」</p></div>
</div>
{% endblock %}

{% block content %}
<div class="writer">
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ simplemde.js }}
{{ pagedown.include_pagedown()}}
{% endblock %}

{% block simplemde %}
{{ simplemde.load }}
{% endblock %}
