{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}MarkDown|2077{% endblock %}

{% block styles %}{{ simplemde.css }}{% endblock %}

{% block navbar %}
<li><a href="{{ url_for('main.index') }}">主页</a></li>
<li><a href="{{ url_for('main.blogs') }}">文章</a></li>
{% endblock %}

{% block navbarwriter %}
<li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        MarkDown<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">编辑方式</li>
        <li class="active"><a href="{{ url_for('main.write') }}">MarkDown(推薦)</a></li>
        <li><a href="{{ url_for('main.write0') }}">CKEditor(開發中)</a></li>

    </ul>
</li>
{% endblock %}

{% block pageheader %}
<div class="blog-header">
    <div class="blog-title"><h1 class="blog-title">書寫</h1></div>
    <div class="lead blog-description write-description"><p class="lead blog-description write-description">「欲將心事付瑤琴 知音少 弦斷有誰聽」</p></div>
</div>
{% endblock %}

{% block content %}
<div class="writer" >
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    <select id="#e20"></select>
    {% else %}
    <p>抱歉，你没有写作的权限  ~_~</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ simplemde.js }}
{{ pagedown.include_pagedown()}}
<script type="text/javascript">
  $('select').select2();
  $("#e20").select2({
    placeholder:"Select tags"
    tags:taglist,
    tokenSeparators: [",", " "]
    });
</script>
{% endblock %}

{% block simplemde %}
{{ simplemde.load }}
{% endblock %}
