{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Writing|2077{% endblock %}

{% block navbar %}
<li><a href="{{ url_for('main.index') }}">主頁</a></li>
<li><a href="{{ url_for('main.blogs') }}">博客</a></li>
{% endblock %}

{% block navbarwriter%}
<li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        CDEditor<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">编辑方式</li>
        <li><a href="{{ url_for('main.write') }}">MarkDown(推薦)</a></li>
        <li class="active"><a href="{{ url_for('main.write0') }}">CDEditor(開發中)</a></li>

    </ul>
</li>
{% endblock %}

{% block pageheader %}
<div class="blog-header">
    <div class="blog-title"><h1 class="blog-title">書寫</h1></div>
    <div class="lead blog-description write-description"><p class="lead blog-description write-description">「欲將心事付瑤琴 知音少 弦斷有誰聽」</p></div>
</div>
{% endblock %}

{% block content %}
<div class="writer" >
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    <form method="POST" action="{{ url_for('main.write0') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.body.label }}
            {{ form.body(id='editor', class='form-control') }}
        </div>
        <input class="btn-primary" type="submit" value="Submit">
        {% endif %}
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
<script>
    CKEDITOR.replace('editor')
</script>
<script type="text/javascript">
    $("#e20").select2({
        tags:["red", "green", "blue"],
        tokenSeparators: [",", " "]});
</script>
{% endblock %}
